<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dileep Angular Profile</title>
</head>

<body>
  <h1>
    <mat-card>
      <mat-card-content>Welcome to my profile!</mat-card-content>
    </mat-card>
  </h1>
  <div>
    <div>
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              About me!
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>My name is Dileep Kumar Reddy Bodanam!
            Hello, welcome to my web application !
            My aim is to gain confidence and fame using my potential in the field of “Web Development”, and express my
            innovative creative skills for self and company growth.
            I like implementing web applications
            and developing new UI look and feel...</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div>
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              My Profile
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>- Proficient in both backend and frontend development. Hardworking professional with
            remarkable technical abilities developed over 3+ years of experience. To be a highly skilled Information
            technology
            professional with strong experience and knowledge creating high-quality, Reusable, scalable, predictable,
            and
            high-performance web applications.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div>
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contact me !
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>Phone number :- Will Update soon..</p>
          <p>Email-ID :- dileepaus1997@gmail.com</p>
          <p>linkdein :- cxcxcxc</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
</body>

</html>